@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: rgb(17 24 39);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.song-list::-webkit-scrollbar {
  width: 6px;
}
 
.song-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.song-list::-webkit-scrollbar-thumb {
  background-color: rgb(55 65 81);
  outline: 1px solid rgb(17 24 39);
}

#root {
  height: 100%;
  width: 100%;
}

.navigation-item[data-active="true"] {
  background-color: rgb(34 197 94);
  border: 1.5px solid rgb(22 163 74);
}

.song-item[data-active="true"] {
  background-color: rgb(55 65 81);
  border-radius: 0.375rem;
}

.audio-control-buttons button:disabled svg {
  color: rgb(107 114 128);
}

.loading {
  color: #fff;
  animation: 2s linear 0s infinite normal none running Spinner;
}



.maximize-player[data-active="true"] {
  animation: cubic-bezier(0.3, 0, 0, 1) 0.2s 1 normal forwards running
    MoveUpward;
}


/* Media Queries */
@media (min-width: 1024px)  {
  .navigation-item[data-active="true"] {
    color: #fff;
    background-color: unset;
    border: none;
  }
  .navigation-item[data-active="true"]:hover {
    color: #fff;
  }
  .song-item[data-active="true"]:hover {
    background-color: rgb(55 65 81);
  }
}

/* Keyframes */

@keyframes MoveUpward {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Spinner {
  100% {
    transform: rotate(360deg);
  }
}